<?xml version="1.0"?>
<launch>
  <include file="$(find s_hardware)/launch/arduino.launch"/>

  <include file="$(find s_hardware)/launch/lidar.launch"/>

  <include file="$(find s_intelligence)/launch/amcl.launch"/>

  <include file="$(find s_intelligence)/launch/move_base.launch"/>

  <include file="$(find motor_control)/launch/motor_control.launch"/>
</launch>